# Ignore node_modules
node_modules/

# Ignore build output
.next/
out/

# Ignore public assets
public/

# Ignore all JavaScript files in the project
**/*.js
**/*.jsx

# Ignore all TypeScript files in the project
**/*.ts
**/*.tsx 